{% extends "index/index.html" %}
{% block content %}
<div class="container container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12" >


<p class= "text-success" sytle="font-size:28px;">Dữ liệu đang được lấy khắp nơi trên Internet<br>Việc này sẽ mất vài phút</p>
</div>
<div class="col-md-12 col-lg-12 col-xs-12" >
<div class="progress progress-striped">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
          <span class="sr-only">20% Complete</span>
        </div>
      </div>
    </div>
</div>
</div>
{% endblock %}